<section class="p-4 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-3 uppercase gap-3">
        <div class=" flex flex-col gap-3">
            <div class="relative bg-gray-200  flex min-h-[250px] text-left p-4 transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                <div>
                    <h3 class="font-semibold">Sofa sets</h3>
                    <p class="font-light text-gray-800">250 products</p>   
                </div>
                <img src="assets/images/sofa.png" draggable="false" alt="sofa-collection" class="mx-auto w-3/4"/>
            </div>
            <div class="relative bg-red-100 text-left flex items-center min-h-[250px] p-3 transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                <div>
                    <h3 class="font-semibold">sideboards</h3>
                    <p class="font-light text-gray-800">250 products</p>   
                </div>
                <img src="assets/images/sideboard.png" draggable="false" alt="side-board" class="mx-auto w-3/4"/>
            </div>

        </div>
        <div class=" flex flex-col h-full">
             <div class="relative bg-yellow-100 text-center flex h-full p-2 transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                <div class="absolute text-left p-8">
                    <h3 class="font-semibold">Special chairs</h3>
                    <p class="font-light text-gray-800">250 products</p>   
                </div>
                <img src="assets/images/chair.png" draggable="false" alt="chair" class="mx-auto w-3/4 lg:w-full"/>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-3">
             <div class="flex flex-col h-full gap-3">
                <div class="relative bg-orange-100 p-3 min-h-[250px] transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                    <img src="assets/images/lighting.png" draggable="false" class="mx-auto mt-auto w-3/4"/>
                    <div >
                        <h3 class="font-semibold">lightings</h3>
                        <p class="font-light text-gray-800">250 products</p>
                </div>
            </div>
            <div class="relative bg-gray-300 text-center justify-center items-center h-full p-3 transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                <img src="assets/images/clock.png" draggable="false" class="mx-auto w-3/4"/>
                <div class="pt-4">
                    <h3 class="font-semibold">clocks</h3>
                    <p class="font-light text-gray-800">250 products</p>
                </div>
            </div>
        </div>
             <div class="flex flex-col h-full gap-3">
               <div class="bg-cyan-200 text-center justify-center items-center p-3 min-h-[250px] transform transition-transform duration-300 shadow-md hover:-translate-y-1">
           <img src="assets/images/flower.png" draggable="false" class="mx-auto w-3/4"/>
           <div>
               <h3 class="font-semibold">flower jars</h3>
               <p class="font-light text-gray-800">250 products</p>
           </div>
       </div>
            <div class="relative bg-emerald-200 text-center justify-center items-center p-3 min-h-[250px] transform transition-transform duration-300 shadow-md hover:-translate-y-1">
                <img src="assets/images/house-accessories.png" draggable="false" class="mx-auto"/>
                <div>
                    <h3 class="font-semibold">others</h3>
                    <p class="font-light text-gray-800">250 products</p>
                </div>
            </div>
        </div>        
        </div>

    </div>
</section>