<footer class="mt-20 p-10 bg-gray-100">
    <div class="grid grid-cols-1 space-y-6 md:grid-cols-4 mx-auto gap-8 max-w-7xl text-left ">
            <div class="space-y-2">
                    <h2 class="font-bold text-2xl text-emerald-800">Furnterra</h2>
                    <p class="font-light text-sm w-[90%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam in repellat architecto quibusdam adipisci accusantium quis praesentium.</p>
                    <div class="space-x-2">
                        <i class="fab fa-facebook">Facebook</i>
                        <i>Instagram</i>
                        <i>Pinterest</i>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Company</h4>
                        <ul class="flex flex-col gap-1 font-extralight text-sm">
                            <li class="cursor-pointer hover:underline">About us</li>
                            <li class="cursor-pointer hover:underline">Blogs</li>
                            <li class="cursor-pointer hover:underline">Contact us</li>
                        </ul>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Shop</h4>
                    <ul class="flex flex-col gap-1 font-extralight text-sm">
                        <li class="cursor-pointer hover:underline">New Arrivals</li>
                        <li class="cursor-pointer hover:underline">Best Seller</li>
                        <li class="cursor-pointer hover:underline">Shop All</li>
                    </ul>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Help</h4>
                    <ul class="flex flex-col gap-1 font-extralight text-sm">
                        <li class="cursor-pointer hover:underline">Customer Service</li>
                        <li class="cursor-pointer hover:underline">My Account</li>
                        <li class="cursor-pointer hover:underline">Privacy</li>
                        <li class="cursor-pointer hover:underline">Contact Us</li>
                    </ul>
                </div>
        </div>  
         <div class="text-center mt-10 text-xs text-gray-500">
    © 2025 Furnterra. All rights reserved to Omar Alsayed.
  </div>
</footer>