<section class="w-full top-0">
  <img src="assets/images/main-home.jpg" alt="main-home" class="w-full h-[80%]" />
  <div class="absolute inset-0 flex pt-[9%] justify-center">
    <div class="text-center flex flex-col gap-5">
      <h1 class="font-bold pt-5 lg:pt-0 lg:text-4xl">Design Your Space, Define Your Style</h1>
      <p class="w-2xl hidden lg:block">Discover handcrafted furniture that transforms your home into a reflection of you. From timeless classics to
        modern minimalism, our pieces are designed to bring comfort, elegance, and personality to every room.</p>
        <!-- <button class="bg-emerald-500 w-[45%] lg:w-[20%] cursor-pointer mx-auto text-center border-r-2 rounded p-1 hover:bg-emerald-600">Explore now</button> -->
    </div>
  </div>
</section>
