<section>
    <div class="flex flex-row justify-around">
        <div class="bg-gray-300 w-150">
            <h4>Flash <span class="text-emerald-400">Sale!</span></h4>
            <p>Get 25% off - Limited Time Offer!</p>
            <div class="flex gap-4 text-center">
                <div class="flex-row">
                    <h4>04</h4>
                    <p>days</p>
                </div>
                <div class="flex-row">
                    <h4>13</h4>
                    <p>Hours</p>
                </div>
                <div class="flex-row">
                    <h4>20</h4>
                    <p>Minutes</p>
                </div>
                <div class="flex-row">
                    <h4>44</h4>
                    <p>seconds</p>
                </div>
            </div>
            <button class="bg-emerald-900 text-white rounded  p-2">Shop now</button>
            
        </div>
        <div>
            ge
        </div>
    </div>
</section>