<main class="mt-10">
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 uppercase h-full">

    <div class="flex flex-col gap-3 h-full">

      <div *ngIf="primaryCategories[0]" [routerLink]="['/collections',primaryCategories[0]]"
        class="bg-gray-100 cursor-pointer p-4 rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px] flex-1">
        <div>
          <h2 class="text-lg font-semibold text-gray-900">{{primaryCategories[0]}}</h2>
        </div>
        <picture class=" mt-4 h-[200px] flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[0]]" [alt]="primaryCategories[0]" loading="lazy"
            draggable="false" class="max-h-full object-contain" />
        </picture>
      </div>

      <div *ngIf="primaryCategories[1]" [routerLink]="['/collections',primaryCategories[1]]"
        class="bg-red-100 cursor-pointer p-4 rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px] flex-1">
        <div>
          <h2 class="text-lg font-semibold text-gray-900">{{primaryCategories[1]}}</h2>
        </div>
        <picture class=" mt-4 h-full flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[1]]" [alt]="primaryCategories[1]" loading="lazy"
            draggable="false" class="mx-auto w-full max-w-[200px] object-contain" />
        </picture>
      </div>
    </div>

    <div class="h-full">
      <div *ngIf="primaryCategories[2]" [routerLink]="['/collections',primaryCategories[2]]"
        class="bg-yellow-100 cursor-pointer rounded-lg p-4 shadow-md flex flex-col justify-between h-full min-h-[430px]">
        <div>
          <h2 class="text-lg font-semibold text-gray-900">{{primaryCategories[2]}}</h2>
        </div>
        <picture class=" mt-4 flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[2]]" [alt]="primaryCategories[2]" loading="lazy"
            draggable="false" class="mx-auto w-full max-w-[400px] h-auto object-contain" />
        </picture>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-3 h-full">

      <div *ngIf="primaryCategories[3]" [routerLink]="['/collections',primaryCategories[3]]"
        class="bg-orange-100 cursor-pointer p-3 rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px]">
        <picture class=" mt-4 h-[200px] flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[3]]" [alt]="primaryCategories[3]" loading="lazy"
            draggable="false" class="mx-auto w-full max-w-[300px] h-auto object-contain" />
        </picture>
        <div>
          <h2 class="text-sm font-semibold">{{primaryCategories[3]}}</h2>
        </div>
      </div>

      <div *ngIf="primaryCategories[4]" [routerLink]="['/collections',primaryCategories[4]]"
        class="bg-gray-300 p-3  cursor-pointer rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px]">
        <picture class=" mt-4 h-[200px] flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[4]]" [alt]="primaryCategories[4]" loading="lazy"
            draggable="false" class="mx-auto w-full max-w-[300px] h-auto object-contain" />
        </picture>
        <div>
          <h2 class="text-sm font-semibold">{{primaryCategories[4]}}</h2>
        </div>
      </div>

      <div *ngIf="primaryCategories[5]" [routerLink]="['/collections',primaryCategories[5]]"
        class="bg-cyan-200 cursor-pointer p-3 rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px]">
        <picture class=" mt-4 h-[200px] flex items-center justify-center overflow-hidden">
          <img [src]="categoryImages[primaryCategories[5]]" [alt]="primaryCategories[5]" loading="lazy"
            draggable="false" class="mx-auto w-full max-w-[300px] h-auto object-contain" />
        </picture>
        <div>
          <h2 class="text-sm font-semibold">{{primaryCategories[5]}}</h2>
        </div>
      </div>

      <div [routerLink]="'/products'"
        class="bg-emerald-200 cursor-pointer p-3 rounded-lg shadow-md flex flex-col justify-between h-full min-h-[200px]">
        <picture class="block">
          <img src="assets/images/house-accessories.png" alt="Home Accessories" loading="lazy" draggable="false"
            class="mx-auto w-full max-w-[300px] h-auto object-contain" />
        </picture>
        <div>
          <h2 class="text-sm font-semibold">Others</h2>
        </div>
      </div>
    </div>

  </section>
</main>