<section>
  <div class="flex flex-col md:flex-row justify-center gap-10 items-center">
    <div
      class="bg-gray-100 shadow-md w-full sm:w-[90%] md:w-[60%] lg:w-[40%] max-w-[600px] rounded-2xl min-h-[400px] flex items-center justify-center">
      <div class="flex flex-col items-center gap-5">
        <h3 class="text-2xl font-bold">Flash <span class="text-yellow-600">Sale!</span></h3>
        <p class="text-gray-700">Get 25% off - Limited Time Offer!</p>
        <div class="flex gap-4 ">
          <div class="flex flex-col items-center">
            <h3 class="text-lg font-bold">04</h3>
            <p class="text-sm">Days</p>
          </div>
          :
          <div class="flex flex-col items-center">
            <h3 class="text-lg font-bold">13</h3>
            <p class="text-sm">Hours</p>
          </div>
          :
          <div class="flex flex-col items-center">
            <h3 class="text-lg font-bold">20</h3>
            <p class="text-sm">Minutes</p>
          </div>
          :
          <div class="flex flex-col items-center">
            <h3 class="text-lg font-bold">44</h3>
            <p class="text-sm">Seconds</p>
          </div>
        </div>
        <button
          class="bg-yellow-600 hover:bg-yellow-700 transition text-white rounded px-6 py-2 text-sm font-medium cursor-pointer">
          Shop Now
        </button>
      </div>

    </div>
    <div class="hidden md:flex flex-row items-center gap-4">
      <div class="min-h-[400px] w-[200px] bg-amber-100 relative shadow-md">
        <div
          class="border-white border-2 absolute left-0 translate-x-[6%] translate-y-[3%] rounded min-h-[380px] min-w-[180px]">
        </div>
        <picture class="block">
          <source srcset="assets/images/left.webp" type="image/webp" />
          <source srcset="assets/images/left.png" type="image/png" />
          <img src="assets/images/left.png" alt="furniture" loading="lazy" draggable="false"
            class="mx-auto w-full h-full" />
        </picture>
      </div>
      <div class="min-h-[400px] w-[200px] bg-amber-100 relative shadow-md">
        <div
          class="border-white border-2 absolute left-0 translate-x-[6%] translate-y-[3%] rounded min-h-[380px] min-w-[180px]">
        </div>
        <picture class="block">
          <source srcset="assets/images/right.webp" type="image/webp" />
          <source srcset="assets/images/right.png" type="image/png" />
          <img src="assets/images/right.png" alt="furniture" loading="lazy" draggable="false"
            class="mx-auto w-full h-full" />
        </picture>

      </div>
    </div>
  </div>
</section>
