<section class="p-4 pt-10">
    <div class="flex flex-col items-center gap-4 uppercase">
        <h2 class="text-2xl">Best Selling products</h2>
        <div class="flex text-sm">
            <ul class="flex font-light text-gray-800 gap-5">
                <li class="cursor-pointer">All</li>
                <li class="font-semibold underline cursor-pointer">Featured</li>
                <li class="cursor-pointer">Best Seller</li>
                <li class="cursor-pointer">Sells</li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4">
            <div class="w-3/4 p-4 relative mx-auto shadow-md rounded transform transition-transform duration-300 hover:-translate-y-2">
                <picture class="block">
          <source srcset="assets/images/clock.webp" type="image/webp" />
          <source srcset="assets/images/clock.png" type="image/png" />
          <img src="assets/images/clock.png" alt="Modern decorative wall clock with sleek design" loading="lazy"
            draggable="false" width="350" height="300" class="mx-auto w-full max-w-[350px] h-auto object-contain bg-gray-200 rounded p-5" />
        </picture>
            <div class="flex justify-between">
                <p class="first-letter:uppercase font-light">accessories</p>
                <i>Heart</i>
            </div>
            <h3 class="font-medium">Wooden Wall Clock</h3>
            <p>$29</p>
            </div>
        </div>
        <p class="text-center uppercase hover:underline cursor-pointer my-4">See all products</p>
</section>