<section class="mt-20">
  <div class="bg-gray-100 max-w-[90%] md:max-w-[80%] mx-auto py-16 px-6 rounded-xl shadow-md">

    <div class="flex flex-col md:flex-row items-start md:items-end justify-between gap-4">
      <h2 class="text-3xl font-bold">
        Our Latest <span class="text-yellow-600">News & Blogs</span>
      </h2>
      <button [routerLink]="'/blogs'"
        class="bg-yellow-600 hover:bg-yellow-700 transition text-white rounded px-6 py-2 text-sm font-medium cursor-pointer">
        Read more
      </button>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">

       <article *ngFor="let blog of relatedBlog" class="bg-white rounded-lg shadow hover:shadow-lg transition overflow-hidden">
        <div class="relative h-60">
         <picture>
          <img [src]="blog.image"  alt="Blog-Image" loading="lazy" draggable="false"
            class="mx-auto w-full h-full object-cover" />
        </picture>
          <div
            class="absolute bottom-2 left-1/2 transform -translate-x-1/2 bg-yellow-500 text-white text-xs px-3 py-1 rounded">
              {{ blog.createdAt | longDate}}
          </div>
        </div>
        <div class="p-5 space-y-2">
          <h3 class="font-semibold text-lg">{{blog.name}}</h3>
          <p [innerHTML]="blog.content" class="text-sm text-gray-600 line-clamp-3"></p>
          <a [routerLink]="['/blogs',blog._id]" class="text-yellow-700 text-sm underline hover:text-yellow-800 cursor-pointer inline-block mt-2">Read Article</a>
        </div>
      </article>

     
    </div>
  </div>
</section>
