<section class="p-4 pt-10">
    <div class="flex flex-col items-center gap-4 uppercase">
        <h2 class="text-2xl">Best Selling products</h2>
        <div class="flex text-sm">
            <ul class="flex font-light text-gray-800 gap-5">
                <li>All</li>
                <li>Featured</li>
                <li>Best Seller</li>
                <li>Sells</li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4">
            <div class="w-3/4 p-4 relative mx-auto">
                <img src="assets/images/clock.png" alt="clock" class="w-full bg-gray-200 rounded p-5"/>
            <div class="flex justify-between">
                <p class="first-letter:uppercase font-light">accessories</p>
                <i>Heart</i>
            </div>
            <h4 class="font-medium">Wooden Wall Clock</h4>
            <p>$29</p>
            </div>
        </div>
        <p class="text-center uppercase">See all products</p>
</section>