<footer class="mt-20 p-10 bg-gray-100">
  <div class="grid grid-cols-1 space-y-6 md:grid-cols-4 mx-auto gap-8 max-w-7xl text-left">
    <div>
      <a [routerLink]="'/'" class="font-black text-3xl text-yellow-600 focus:outline-none">Furnterra</a>
      <p class="font-light text-sm w-[90%] py-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam in
        repellat architecto quibusdam adipisci accusantium quis praesentium.</p>
      <div class="flex gap-2">
        <a [routerLink]="'/facebook'">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </a>

        <a [routerLink]="'/instagram'">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
        </a>
        <a [routerLink]="'/pinterest'">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
            <path d="M8 20l4 -9" />
            <path d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          </svg>

        </a>


      </div>
    </div>
    <div class="flex flex-col gap-3">
      <h4 class="font-medium">Company</h4>
      <ul class="flex flex-col gap-1 font-extralight text-sm w-[70px]">
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/about'">About us</a>
        </li>
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/blogs'">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-3">
      <h4 class="font-medium">Shop</h4>
      <ul class="flex flex-col gap-1 font-extralight text-sm w-[80px]">
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/products'">New Arrivals</a>
        </li>
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/products'">Best Seller</a>
        </li>
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/products'">Shop All</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-3">
      <h4 class="font-medium">Help</h4>
      <ul class="flex flex-col gap-1 font-extralight text-sm w-[110px]">
        <li class="cursor-pointer hover:underline">My Account</li>
        <li class="cursor-pointer hover:underline">Privacy</li>
        <li class="cursor-pointer hover:underline">
          <a [routerLink]="'/contacts'">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center mt-10 text-xs text-gray-500">
    © 2025 Furnterra. All rights reserved to Omar Alsayed.
  </div>
</footer>
